name: Build Docker image (main)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  docker-build:
    name: Build image
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          tags: ivms-4200:main
          push: false
          load: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
